.header{
    height: 250px;
    background: url(../../assets/images/Header.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 5px;
}
